body {

background: #0f172a;
color: white;
font-family: Arial;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;

}

.chat-container {

width: 500px;
background: #1e293b;
padding: 20px;
border-radius: 10px;

}

#chat-box {

height: 400px;
overflow-y: auto;
border: 1px solid gray;
padding: 10px;
margin-bottom: 10px;

}

.user {

color: cyan;
margin: 5px;

}

.bot {

color: lightgreen;
margin: 5px;

}

input {

width: 75%;
padding: 10px;

}

button {

padding: 10px;
background: green;
color: white;
border: none;

}